.root {
  flex-grow: 1;
}

.nav {
  margin-bottom: 16px; /* Assuming theme.spacing(2) equals 16px */
}

.title {
  flex-grow: 1;
}

.link {
  color: #fff;
  text-decoration: none;
  margin-left: 8px; /* Assuming theme.spacing(2) equals 16px */
  margin-right: 8px; /* Assuming theme.spacing(2) equals 16px */
}

.link:hover {
  text-decoration: underline;

}

.contentContainer {
  margin-top: 16px; /* Assuming theme.spacing(2) equals 16px */
}